.content {
  width: 900px;
  margin: 0 auto;
  border: 1px solid #aaa;
  border-top: 0;
}

.flex {
  display: flex;
}

.content-sidebar {
  background-color: #fff;
  min-height: 200px;
  width: 200px;
  border-right: 1px solid #aaa;
  padding: 20px;
}

.content-main {
  background-color: #fff;
  min-height: 200px;
  width: 650px;
  padding: 20px;
}
