.friends ul li {
  width: 30%;
  float: left;
  margin-bottom: 5%;
}

.friends ul li:nth-of-type(3n+1) {
  margin-right: 5%;
}

.friends ul li:nth-of-type(3n+2) {
  margin-right: 5%;
}

.thumb img {
  border-radius: 5px;
  border: 1px solid #000;
}
