.content-main .thumb {
  width: 60px;
  float: left;
}

.content-main .form-fieldset {
  width: calc(100% - 60px - 20px);
  float: left;
  background-color: #eee;
  margin-left: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input {
  width: 100%;
  margin-bottom: 20px;
}

.input label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
}

.input > input[type="text"], textarea {
  background-color: #fff;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 8px;
  font-size: 18px;
}

.input > input[type="text"]:focus, textarea:focus {
  border: 1px solid #0c0;
}

.btn-submit[type="submit"] {
  position: relative;
  background-color: #0c0;
  color: white;
  box-shadow: 0 5px 0px #070;
  transition: all 0.1s;
}

.btn-submit[type="submit"]:hover {
  background-color: #0a0;
}

.btn-submit[type="submit"]:active {
  box-shadow: none;
  top: 1px;
}

.margin-x-sm {
  margin: 0 5px;
}

.cancel {
  font-weight: 700;
}

.cancel:hover {
  color: #f00;
}