[class*="icon-"] {
  background-image: url("../images/sprite.png");
  background-size: 25px;
  display: inline-block;
  padding-top: 25px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}

[class*="icon-small-"] {
  background-size: 20px;
  width: 20px;
  height: 20px;
  padding-top: 0;
}

.profile-nav ul li a {
  display: flex;
}

.icon-comment {
  background-position: 0px 0px;
}

.icon-comment:hover {
  background-position: 0px -25px;
}

.icon-favorite {
  background-position: 0px -50px;
}

.icon-favorite:hover {
  background-position: 0px -75px;
}

.icon-reblog {
  background-position: 0px -100px;
}

.icon-reblog:hover {
  background-position: 0px -125px;
}

.icon-small-wall {
  background-position: 0px -180px;
}

.icon-small-about {
  background-position: 0px -140px;
}

.icon-small-photos {
  background-position: 0px -160px;
}

.icon-small-friends {
  background-position: 0px -120px;
}